# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE

!corrupt.txt

!Dockerfile
!docker-compose.yml

!Makefile

# ...even if they are in subdirectories
!*/
